{% extends 'base.html' %}
{% load bootstrap5 %} 

{% block content %}

<style>
.container {
    padding-bottom: 850px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #888;
  }

</style>
</head>
<body>

<h2>Connexion</h2>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form }}
    <div class="form-group"><input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock content %}