{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %} 

    {% if sortie.utilisateur == request.user %}
        <h2>Télécharger une photo</h2>
        <form method="post" enctype="multipart/form-data">
            {# Création du formulaire pour uploader une photo #}
            {% bootstrap_form form %}
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary" >Publier</button>

            {# En cas d'annulation, on revient à la page principale #}
        <tbody>
            <input type="button" class="btn btn-secondary" onclick= window.location.href="{% url 'itineraires:modif_sortie' sortie.id%}" value="Annuler" >
        </tbody>
        </form>
    {%else%}
    <p> Vous n'êtes pas l'auteur de cette sortie et ne pouvez donc pas la modifier !</p>
    <a href="{% url 'itineraires:sortie_details' sortie.id %}"> Retour sur la page de détail de la sortie </a>
    {%endif%}
{% endblock content %}