{% extends 'base.html' %}
{% load bootstrap5 %}


{% block title %} Détails Sortie {% endblock title%}

{% block content %}

<!-- Entête de la page de sortie avec un lien cliquable sur l'itinéraire pour revenir à la page des itinéraires ainsi que le nom du randonneur et info sur l'itineraire-->
<div class="row">
    <h1><a href="{% url 'itineraires:sorties' sortie.itineraire.id %}">{{ sortie.itineraire }}</a><small> -- Sortie de {{ sortie.utilisateur }}</small></h1>
    <br><br>
    <div class="col">
    
        <h2> Itinéraire: </h2>
        <b>Altitude de départ</b> : {{sortie.itineraire.altitude_depart}} mètres
        <br>
        <b>Altitude minimale</b> : {{sortie.itineraire.altitude_minimale}} mètres
        <br>
        <td><b>Altitude maximale</b> : {{sortie.itineraire.altitude_maximale}} mètres
        <br>
        <b>Dénivelé positif cumulé</b> : {{sortie.itineraire.denivele_positif_cumule}} mètres 
        <br>
        <b>Dénivelé négatif cumulé</b> : {{sortie.itineraire.denivele_negatif_cumule}} mètres 
        <br>
        <b>Durée estimée</b> : {{sortie.itineraire.duree}} heures
        <br>
        <td><b>Difficulté</b> : {{sortie.itineraire.difficulte}}/5

            <article class="sortie">
                <aside class="actions">
                    <!-- Ajout d'un icône pour éditer une sortie -->
                    <!-- N'affiche le bouton modifier que si l'utilisateur est l'auteur de la sortie -->
                    {%if utilisateur == sortie.utilisateur%} 
                    <a class="btn btn-default" href="{% url 'itineraires:modif_sortie' sortie.id %}">
                        {% include './icones/pencil-fill.svg' %} Éditer sortie
                    </a>
                    <!-- Bouton d'enregistrement d'une photo -->
                    <input type="button" onclick= window.location.href="{% url 'itineraires:photo_upload' sortie.id %}"  class="btn btn-secondary" value="Telecharger des photos" style="float: left">
                    {%endif%}
                </aside>
            </article>
    
    
    </div>

            <div class="col">
            <h2> Détails sur la sortie </h2>
            <tr>
                         <td>
                            <b>Date de sortie:</b> {{ sortie.date_sortie|date:'d/m/Y'   }} </td>
                        <br>
                    <td><b>Durée réelle :</b> {{ sortie.duree_reelle }} h</td>
                        <br>
                    <td><b>Nombre de personnes :</b> {{sortie.nombre_personne}}</td>
                        <br>
                    <td><b>Expérience :</b> {{ sortie.experience }}</td>
                        <br>
                    <td><b>Météo :</b> {{ sortie.meteo }}</td>
                        <br>
                    <td><b>Difficulté ressentie :</b> {{ sortie.difficulte_ressentie }}</td>
                        </td>
                    </tr>
            </div>
 </div>
        



</table>
</div>
<div class="container">                     {# Permet l'affichage des photos sur la page de sortie associée#}
    {% if photos %}
    <h2>Photos</h2>
                
                    {% for photo in photos %}
                        <img src="{{ photo.image.url }}">
                    {% endfor %}
                {% endif %}
</div>
<div class="container">
    <table class="table table-striped">
        <tbody>
            {% if liste_commentaires %}

                        {% for commentaire in liste_commentaires %}
                            {% if commentaire.statut %}
                                <tr>
                                
                                <td>Par : {{commentaire.utilisateur_auteur}}</td>   
                                <td>Publié le {{commentaire.date}} 
                                
                                <br>
                                {{commentaire.texte}}</td>
                                        
                            
                            </tr>
                            {%endif%}
                        {% endfor %}
                    {%endif%}
                    <div class="row pb-3">
                        <td><button type="button" class="btn btn-secondary" style="float:center" onclick= window.location.href="{% url 'itineraires:ajout_commentaire' sortie.id %}">Ajouter un commentaire</button></td>
                    </div>
                </tbody>
            </table>
    </div>



{% endblock content %}

