{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Leaflet css -->	
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen@latest/Control.FullScreen.css" />
   
    <!-- Mon Css -->	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Javascript-->	
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.fullscreen@latest/Control.FullScreen.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>{% block title %}TOPOGUIDE{% endblock %}</title>
</head>
    <!-- Style CSS-->
     <!-- Utilisation petit trick pour mettre une image en arrère plan et modfier son opacité sans modifier celle du texte-->
    <style>

      body {
        background: url("{% static 'images/fond.jpg' %}") repeat ;
        height : 100vh;
        }

        body::after {
          content: "";
          background: white;
          opacity: 0.4;
          background-attachment:scroll;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;    
        
    
        }

    </style>
    <!-- Fin style CSS-->
    
</head>

<body >
    <!-- Barre de navigation-->
    <ul>
        <li><b class="active" href="#home">TOPOGUIDE</b></li>
        <li><a href="{% url 'itineraires:itineraires' %}">Itineraires</a></li>
        {% if user.is_authenticated %}
        <li style="float:right; padding-left : 13%"><a href="{% url 'logout'%}?next={{request.path}}">Se déconnecter</a></li>
        {% else %}
        <li style="float:right; padding-left: 13%"><a href="{% url 'login'%}?next={{request.path}}">Se connecter</a></li>
        {% endif %}
        <li class = "mx-bg" style="float:right">
          <!-- Ajout d'une barre de recherche dans la barre de navigation -->
            <form method="GET" action="{% url 'itineraires:recherche' %}">
              <div class="form-row mx-auto" >
                  <div class="form-group col-12">
                      <div class="input-group">
                          <input class="form-control py-2 border-right-0 border" type="search" name="barre_recherche" placeholder="Recherche.." value = {{recherche}}>
                          <span class="input-group-append">
                              <div class="input-group-text">
                                  <i class="fa fa-search"></i>
                              </div>
                          </span>
                      </div>
                  </div>        
              </div>
            </form> 
        </li>
    </ul>
      <div class="container">
        {% block content %}{% endblock %}
      </div>
</body>
</html>


